<div class="container">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Agenda SUS</a>
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>
                <form class="d-flex" role="search" [formGroup]="dadosPaciente">
                    <input formControlName="CpfCns" class="form-control mx-1" type="search" placeholder="Digite seu CPF"
                        aria-label="Search">
                    <select formControlName="TipoLista" class="form-select" aria-label="Default select example">
                        <option selected>Tipo de listagem</option>
                        <option value="1">Aguardando</option>
                        <option value="2">Realizadas</option>
                        <option value="3">Outras</option>
                    </select>
                    <button class="btn btn-outline-success mx-1" (click)="buscaDadosPaciente()"
                        type="submit">Busca</button>
                </form>
            </div>
        </div>
    </nav>

</div>
