<div class="mt-1 mt-1">{{1}}</div>
<div class="card mt-5 mx-5">
    <div class="card-header">
        Serviços oferecidos
    </div>
    <div class="card-body">
        <form action="" [formGroup]="tiposServico">
            <h5 class="card-title">Filas</h5>
            <p class="card-text">Selecione abaixo o tipo de serviço que deseja consultar.</p>
            <p class="card-text">Aviso!
                Os campos com * são obrigatórios e devem ser preenchidos para realizar a consulta;
            </p>
            <ul>
                <li>A posição e a previsão de atendimento do paciente poderão ser alteradas de acordo com a gravidade do
                    paciente ou por decisão judicial;
                </li>
                <li>A informação de estimativa de agendamento do paciente pode mostrar "indisponível" momentaneamente
                    para o
                    procedimento.
                </li>

            </ul>
            Caso identifique que sua solicitação não se encontra na lista ou identificar algum problema, pedimos que
            entre em contato com sua unidade de saúde.

            <div class="input-group">
                <select formControlName="TipoServico" (change)="buscaDadosPacienteListas()"
                    class="form-select mx-3 mt-4" aria-label="Default select example">
                    <option value="0">* Serviço</option>
                    <option value="1">Consultas</option>
                    <option value="2">Exames</option>
                    <option value="3">Cirurgia Eletiva</option>
                    <option value="4">Outros</option>
                </select>
                <select class="form-select mx-3 mt-4" aria-label="Default select example" (change)="buscaMunicipio()">
                    <option value="0">Municipio Central</option>
                    <option value="262">Siderópolis</option>
                    <option value="273">Treviso</option>
                    <option value="75">Criciúma</option>
                </select>
            </div>
            <div class="input-group">
                <select class="form-select mx-3 mt-4" aria-label="Default select example" 
                (change)="buscaDescricao()">
                    <option value="{{central.codigo}}" *ngFor="let central of municipio">{{central.nome}}</option>
                    
                </select>
                <select class="form-select mx-3 mt-4" aria-label="Default select example">
                    <option value="{{desc.codigo}}" *ngFor="let desc of descricao">{{desc.codigo}} - {{desc.descricao}} </option>                    
                </select>
            </div>

            <a href="#!" class="btn btn-primary mx-3 mt-4"><i class="bi bi-list-ol"></i> Consulta Lista de Espera</a>
            <a href="#!" class="btn btn-primary mx-3 mt-4"><i class="bi bi-calendar-check"></i> Consulta Agendados</a>
            <a href="#!" class="btn btn-primary mx-3 mt-4"><i class="bi bi-check2-square"></i> Consulta Atendidos</a>
        </form>
    </div>
</div>